In [1]:
!pip install faker

Collecting faker
  Downloading Faker-24.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\hp\mano\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hp\mano\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-24.3.0-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.8 MB 2.0 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/1.8 MB 1.8 MB/s eta 0:00:01
   ----- ---------------------------------- 0.2/1.8 MB 2.0 MB/s eta 0:00:01
   ------- -------------------------------- 0.3/1.8 MB 2.0 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/1.8 MB 2.2 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 2.2 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 2.5 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.8 MB 2.8 MB/s eta 0:00:01
   ------------------------- -------------- 1.1/1.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 1.2/1.8 MB 2.9 MB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 1.6/1.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  1.7/1.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 2.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-24.3.0

In [2]:
from faker import Faker

In [3]:
fake =Faker()

In [4]:
fake.name()

'Kelly Miller'

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\mano\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\mano\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\mano\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\mano\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\mano\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\mano\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\mano\lib\site-packages (1.25.1)

In [7]:
import pandas as pd

In [12]:
df = pd.DataFrame(
    [

        {
            "name":fake.name(),
            "address":fake.address(),
            "birthday":fake.date_of_birth(),
            "email":fake.email(),
        }
    for  _ in range(100)
    ]


)
df.head()

,name,address,birthday,email
0,Jeremy Williams,"8802 Shane Fords Apt. 060\nSouth Brianna, GA 1...",1917-03-21,fglover@example.net
1,Richard Chen,"717 Jerry Land Apt. 491\nValentineland, ME 03380",2000-03-18,ericdavis@example.org
2,Dennis White,"19296 Sean Street\nErictown, NE 56514",1958-10-16,susanjacobson@example.net
3,Eric Duffy,"622 Anderson Ridges\nKimberlybury, FM 56392",1928-05-12,russell57@example.org
4,Joel Mejia,"271 Little Forges\nLake Jamesmouth, KS 13954",1925-03-28,lowekaren@example.org

In [13]:
from faker import Faker
import pandas as pd
import random

In [14]:
fake = Faker()

In [15]:
def generate_vehicle_data(num_vehicles=10):
    data = []
    for _ in range(num_vehicles):
        vehicle_number = fake.license_plate()
        start_latitude = round(random.uniform(-90, 90), 6)
        start_longitude = round(random.uniform(-180, 180), 6)
        end_latitude = round(random.uniform(-90, 90), 6)
        end_longitude = round(random.uniform(-180, 180), 6)
        data.append({
            'Vehicle Number': vehicle_number,
            'Start Latitude': start_latitude,
            'Start Longitude': start_longitude,
            'End Latitude': end_latitude,
            'End Longitude': end_longitude
        })
    return data

In [16]:
vehicle_data = generate_vehicle_data(10)

In [17]:
vehicle_df = pd.DataFrame(vehicle_data)

In [18]:
vehicle_df

  Vehicle Number  Start Latitude  Start Longitude  End Latitude  End Longitude
0        313-WXM       33.640709        88.122247     19.416862    -127.813694
1        43-AS54        9.572589      -166.201851     32.892984     163.997804
2        83W•828       20.402936      -108.877516     59.647387     140.046891
3        XEN 624      -17.904651         5.865907    -77.398874    -150.695934
4        861 GSP      -47.006296      -157.439815      8.794944     -82.329316
5        687 HVE      -76.507920       101.290995    -75.669781     115.722773
6        087-EXJ       80.989393       136.863614    -31.966829    -128.151209
7        1NM 272      -87.342507       170.483535    -15.089917      38.093077
8          9I370       11.559257       -98.088353    -18.765978    -140.709490
9        448 TT0      -45.365869       102.796581    -48.930491    -124.734275